<ion-header>
  <ion-toolbar>
    <ion-title style="color:purple;margin-left:40%;">eCMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Lets Get Started</ion-card-subtitle>
      <ion-card-title>Electronic Complaints Management System</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ability is what you’re capable of doing. Motivation determines what you do. Attitude determines how well you do it.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
