<ion-header >
  <ion-toolbar class="toolbar" >
    <ion-buttons slot="start" >
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="start">Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Electronic Complaints Management System</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your here, you'll want to start submiting your complaints . Check out some of the resources below .</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header class="res">
        <ion-label >Resources</ion-label>
      </ion-list-header>
      <ion-item >
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>We are what we repeatedly do. </ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Believe in yourself.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Every strike brings you closer.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>it’s the size of the fight in the dog.</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
